:root{
    background-color: rgb(26, 26, 26);
    color: white;
}

h1{
    text-align: center;
    margin: 100px 0px;
}

h2{
    text-align: center;
    margin-top: 100px;
}

#tareas{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#tareas div{
    padding: 10px;
}

.input{
    display: flex;
    justify-content: center;
}

div p{
    display: inline-block;
}
